---
import Sidebar from '../components/SideBar.astro';
import Experiencia from '../components/Experience.astro';
import Hero from '../components/Hero.astro';
import SeccionHabilidades from '../components/SeccionHabilidades.astro';
import cvData from '../data/cv.json';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <section id="sobre-mi">
    <Hero />
  </section>
  <section id="experiencia">
    <Experiencia />
  </section>
  <section id="habilidades">
	  <SeccionHabilidades />
  </section>
</MainLayout>